
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/

/node_modules/

/tools/phpstan/vendor/
/tools/phpmd/vendor/
/tools/php-cs-fixer/vendor/
.php-cs-fixer.cache
/tools/**/vendor/
/tools/**/composer.lock
###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###
.phpdoc/
./tools/phpdoc/
.idea/
data.db
*.backup
*.env.test
Notes.md