<nav class="py-3">
    <ul class="flex gap-6 flex-wrap underline underline-offset-8 text-green-800 font-bold tracking-wide">
        <li><a class="" href="{{ path('app_home') }}">Start</a></li>
        <li class=""><a class="" href="">About</a></li>
        <li class=""><a class="" href="">Report</a></li>
        <li class=""><a class="" href="">Lucky</a></li>
    </ul>
</nav>