<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
        href="{{ asset('images/tiger.svg')}}">
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}

    {% block javascripts %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>

<body class="p-3 text-slate-600 break-words	">
    <div class="container mx-auto p-3 rounded prose">
        {% block header %}
        <header class="not-prose">
            <div class="">
                <picture>
                    <img class = "w-full max-h-96 object-cover rounded-lg" src="{{ asset('images/pexels-pixabay-55814.jpg') }}" alt="A roaring tiger">
                </picture>
            </div>
            {% block navigation %}
            {% include '_nav.html.twig' %}
            {% endblock %}
        </header>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
        <footer class="not-prose mt-6 p-3 full-width bg-green-800 rounded font-bold">
            <p class="text-center text-sm text-amber-600">Made by Karl. Part of the course "MVC" which is given at <a href="">BTH</a> within the frame of what is called <a href="https://dbwebb.se">dbwebb</a>.</p>
        </footer>
        {% endblock %}
    </div>
</body>

</html>