{# templates/index.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Hello!{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block importmap %}
{% endblock %}

{% block body %}
    <h1>Tralala</h1>
{% endblock %}