{# templates/index.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Hello!{% endblock %}
{% block body %}
<main class="mt-3">
  <article class="md:flex">
    <div>
      <h1>This is my project page</h1>
      <p>... or rather, this is a page about the project. </p>
      <p>The project is available here.</p>
  </article>
</main>
{% endblock %}