{% extends 'kassabok/base.html.twig' %}

{% block title %}Hello OrganizationController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    {% for organization in organizations %}
    {{ organization.name }}
    {{ dump(organization.users[0].email) }}
    {{ dump(organization.name) }}
    {% endfor %}

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/home/karl/Documents/dbwebb/mvc/me/report/src/Controller/OrganizationController.php</code></li>
        <li>Your template at <code>/home/karl/Documents/dbwebb/mvc/me/report/templates/organization/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
